{% extends "layout.html" %}

{% block body %}
 <h1>Sign up or log in</h1>
        <form action="/register" autocomplete="off" method="post">
            <input type="text" name="name" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <select name="type">
                <option value="Regular">Regular</option>
                <option value="Admin">Admin</option>
                <option value="Master">Master</option>
            </select>
            <input type="submit" value="Register">
        </form>
{% endblock %}